*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}
header img{
  height: 70px;
}
header nav{
  width: 100%;
  height: 70px;
}
header ul{
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
}
header li{
  list-style: none;
  margin: auto 30px;
  
}
header a{
  height: 70px;
  text-decoration: none;
  color: #FAFAFA;
}
.header-items{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

/* main-visual */
.main-visual{
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.main-visual h1{
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
}
.main-visual p{
  color: #FAFAFA;
  font-size: 20px;
  margin-top: 10px;
}

/* portfolio */
.portfolio{
  background-color: #ECEFF1;
  width: 100%;
  text-align: center;
}
.portfolio-items{
  width: 920px;
  padding: 90px 0;
  margin: 0 auto;
}
.portfolio-items h1{
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
}
.border{
  height: 3px;
  width: 70px;
  background-color: #EC715F;
  margin: 0 auto;
}
.portfolio-items p{
  margin: 30px auto;
  font-size: 16px;
  color: #000000;
}
.images{
  display: flex;
  flex-wrap: wrap;
}
.image{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.image1{
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}
.image2{
  background-image: url(img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}
.image3{
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}
.image4{
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}
.image5{
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}
.image6{
  background-image: url(img/webcamp-mother.png);
}

/* FEATURE */
.feature{
  width: 980px;
  margin: 90px auto;
  text-align: center;
}
.feature h1{
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
}
.feature-para{
  margin: 30px auto;
  font-size: 16px;
  color: #000000;
}
.strengthes{
  display: flex;
  margin: 0 auto;
}
.strength-box{
  width: 320px;
  margin-right: 10px;
}
.strength-box:last-child{
  margin-right: 0;
}
.strength-box h3{
  font-size: 20px;
  color: #000000;
  margin: 10px auto;
}
.paragraf{
  text-align: left;
  font-size: 16px;
  color: #000000;
}
.strength-box i{
  font-size: 60px;
}

/* profile */
.profile{
  background-color: #ECEFF1;
  padding: 90px;
}
.profile-items{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.profile-items h1{
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
}
.introduction{
  display: flex;
}
.introduction img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.img-box{
  margin: 0 auto;
  width: 512px;
}
.who-is-me{
  width: 512px;
  text-align: left;
}
.who-is-me h3{
  font-size: 20px;
  margin-bottom: 5px;
}
.who-is-me p{
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}
.who-is-me p:last-child{
  margin-bottom: 0;
}

/* contact */
.contact{
  width: 100%;
  margin: 90px auto;
}
.contact-items{
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.contact-items h1{
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
}
.my-sns{
  display: flex;
  margin: 0 auto;
}
.box1{
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}
.mail-tell{
  text-align: left;
}
.mail-tell h3{
  font-size: 20px;
  margin-bottom: 5px;
}
.mail-tell p:nth-child(0){
  margin-bottom: 20px;
}
.box2{
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}
.sns{
  text-align: left;
}
.sns h3{
  margin-bottom: 5px;
}
.sns i{
  font-size: 50px;
  margin-right: 20px;
}
.sns i:last-child{
  margin-right: 0;
}

/* footer */
footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  display: flex;
  justify-content: center;
}
footer p{
  color: #FAFAFA;
  font-size: 16px;
  line-height: 60px;
}
